#Options +SymLinksIfOwnerMatch
Options -Indexes
RewriteEngine On

Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS 
Header set Referrer-Policy "no-referrer" 
Header set X-Content-Type-Options "nosniff" 
Header set X-Frame-Options "SAMEORIGIN" 
Header set X-XSS-Protection "1; mode=block" 
<If "%{HTTP_HOST} == 'arenadekt.local'">
	Header always edit Set-Cookie (.*) $1;HttpOnly;SameSite=strict;Domain=arenadekt.local;Path=/;
</If>
<Else>
	Header always edit Set-Cookie (.*) $1;HttpOnly;SameSite=strict;Secure;Domain=arenadekt.jarfjam.co.uk;Path=/;
</Else>
Header set Permissions-Policy "geolocation=(), camera=(), microphone=(), display-capture=()"
Header set Content-Security-Policy "default-src 'self'; img-src 'self'; style-src 'self'; base-uri 'self'; object-src 'none'"

# Allow well-known checks
RewriteRule /\.well-known|^\.well-known - [L]

# Redirect to app subdomain
RewriteCond %{HTTP_HOST} !^(arenadekt\.jarfjam\.co\.uk|arenadekt\.local)$ [NC]
RewriteRule ^(.*)$ https://arenadekt\.jarfjam\.co\.uk/$1 [R=301,L]

# https redirect
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# MIME types
AddType image/x-icon .ico
AddType image/webp .webp


# Redirect requests to index.php
RewriteCond %{REQUEST_URI} !=/index.php
RewriteCond %{REQUEST_URI} !main\.css$ [NC]
RewriteCond %{REQUEST_URI} !fonts\/planewalker-webfont\.woff2?$ [NC]
RewriteCond %{REQUEST_URI} !robots\.txt$ [NC]
RewriteCond %{REQUEST_URI} !sitemap\.xml$ [NC]
RewriteCond %{REQUEST_URI} !favicon\/.*\.png$ [NC]
RewriteCond %{REQUEST_URI} !favicon\/.*\.svg$ [NC]
RewriteCond %{REQUEST_URI} !favicon\/.*\.ico$ [NC]
RewriteCond %{REQUEST_URI} !favicon\/site\.webmanifest$ [NC]
RewriteRule .* /index.php

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault "access"
	ExpiresByType font/woff2 "access plus 1 year"
</IfModule>

# direct file/dir access
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^(.*)$